html,
body {
    @apply tw-m-0 tw-p-0;
}

ul {
    @apply tw-p-0 tw-m-0 tw-list-none;
}

button {
    @apply tw-text-lime-500;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover {
        @apply tw-text-lime-300;
    }
    &:disabled{
        @apply tw-pointer-events-none tw-text-neutral-500 tw-border-neutral-500;
    }
}

a {
    @apply tw-text-lime-500 tw-no-underline;
    &:hover {
        @apply tw-text-lime-300;
    }
}

body {
    @apply tw-text-neutral-800 tw-bg-neutral-100 font-normal-14;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: 0;
}

input, textarea, select {
    @apply tw-border tw-border-neutral-300 tw-min-h-[40px] tw-rounded-sm tw-p-2;

    &:hover, &:focus, &:active{
        @apply tw-border-lime-500;
    }
}

.isLoading {
    backdrop-filter: blur(5px);
    pointer-events: none;
}